<app-header
  (toggleFooterEvt)="toggleFooter($event)"
  >
</app-header>
<app-add-item 
  (itemOut)="addItemList($event)">
</app-add-item>
<app-display-list
  (showDescription)="enableDescription($event)"
  [itemList]="itemList"
  (deleteOut)="deleteItem($event)"
  >
</app-display-list>
<app-error *ngIf="itemList.length ==0">
    <app-error-message message="There are no items in the list"></app-error-message>
</app-error>
<app-footer #footer footerText="This is footer" [numberOfItems]="numberOfItems"  *ngIf="showFooter"></app-footer>