<div class="addinput">
<app-error *ngIf="showError">
    <app-error-message message="Please Enter item and description" [numberOfAttempts]="numberOfAttempts"></app-error-message>
</app-error>
<form class="formbox" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        Add Item
      </div>
      <div class="col-md-8">
        <label for="item" class="sr-only">Add Item</label>
        <input type="text" formControlName="name" class="form-control" id="item" placeholder="Item" required>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        Add Description
      </div>
      <div class="col-md-8">
        <label for="description" class="sr-only">Add Description</label>
        <input type="text" formControlName="description" class="form-control" id="description" placeholder="Description" required>
      </div>
  </div>
  <button type="submit" class="btn btn-warning">Add Item</button>
  </div>
</form>
</div>
