 <div class="container" *ngFor="let item of items; let odd=odd; let even=even;">
    <app-display-card 
      [item]="item" 
      [odd]="odd" 
      [even]="even"
      (deleteOut)="deleteItem($event)"
      (editOut)="editItem($event)"
      >
    </app-display-card>
 </div>

 <!-- Modal -->
<div bsModal #editModal="bs-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Item</h4>
      </div>
      <div class="modal-body">
        <p>{{modalText}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
